<div class="container-fluid" id="goal-start">
  <div class="row">
  	<div class="col-sm-6">
	  	<div class="panel">
		    <div class="input-group input-spacing">
				<span class="input-group-addon">Name</span>
				 <input type="text" class="form-control" placeholder="name of goal" ng-model="goal.data.name">
			</div>    
			<div class="input-group input-spacing">
				<span class="input-group-addon">Description</span>
				 <input type="text" class="form-control" placeholder="goal description" ng-model="goal.data.description">
			</div>		
		</div>	
  	</div>    	
  	<div class="col-sm-6">
	  	<div class="panel">
			<div class="input-group input-spacing">
				<span class="input-group-addon">Contact Info</span>
				 <input type="text" class="form-control" placeholder="contact info" ng-model="goal.data.contact">
			</div>			
			<div class="input-group input-spacing">
				<span class="input-group-addon">Ethereum Account</span>
				 <input type="text" class="form-control" placeholder="contact info" ng-model="goal.data.ethereumAddress">
			</div>			
		</div>	
  	</div>  	
  </div>
  <a class="btn btn-primary pull-left" href="/app/index.html">&larr; Back to Home </a>  
  <a class="btn btn-primary pull-right" href="goal.html#/setup">Setup &rarr;</a>  
</div>